%but,
.but {
  background: $color-sohi;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  padding: $base-unit-half $base-unit;
  text-align: center;

  @include border-radius($base-rounded-corners);

  &.active,
  &:active {
    background-color: $color-gold;
    color: $color-dkgrey;
  }

  &:hover {
    color: $color-ltgrey;
  }
}

a.but-selection {
  text-decoration: none;

  &:active {
    background: $color-gold;
    color: $color-sohi;
  }
}

// Row of inline buttons
.but-row {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0; // fixes inline-block childern from generating extra space

  .but {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.but[disabled] {
  opacity: 0.2;
}
