.pallete-area {

  h6 {
    @extend %text-small;

    display: inline-block;
    margin-bottom: 0;
  }

  h6 + .square {
    display: inline-block;
  }
}

.color-pallete {
  margin-bottom: $base-unit;

  .square {
    cursor: pointer;
  }
}
