$drawer-col-width: 250px;
$drawer-width: 215px;
$drawer-control-width: 20px;

.drawer-grid {
  overflow: hidden;

  li { list-style-type: none }
}

.drawer-col {
  position: fixed;
  width: $drawer-col-width;
  flex-shrink: 0;

  transition: all 500ms;

  &.collapsed {
    width: $drawer-control-width * 2;
    padding: $base-unit-half 0;
  }
}

.drawer {
  background: $color-cream;
  border-right: 3px solid $color-sohi;
  border-bottom: 3px solid $color-sohi;
  margin-left: 0;
  overflow: hidden;
  width: $drawer-width;

  @include border-bottom-right-radius(13px);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 20px;
  }

  a {
    color: $color-black;
    display: block;
    padding: 4px 11px;
    text-decoration: none;

    &:active,
    &.active {
      background: $color-pool;
    }
  }

  * {
    overflow: hidden;
  }

  transition: all 500ms;
}

.collapsed > .drawer {
  margin-left: -$drawer-width;
}

.drawer-control {
  background: $color-sohi;
  color: $color-white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 35px;
  justify-content: space-around;
  margin-right: $drawer-control-width;
  margin-left: 0;
  padding-left: 3px;
  position: relative;
  top: 10vh;
  width: $drawer-control-width;
  @include border-right-radius(3px);
}
