.pattern-grid {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.pattern-cel {

  @extend %square;

  border-bottom: none;
  border-right: none;
  cursor: pointer;

  transition: all 500ms $link-transition-type;

  &.active,
  &:hover {
    color: $color-black;
  }
}
