.pattern-grid {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.pattern-cel {

  @extend %text-tiny;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  cursor: pointer;
  height: 15px;
  line-height: 15px;
  opacity: 1;
  padding-left: $base-unit-quarter;
  text-align: center;
  width: 15px;

  transition: all 500ms $link-transition-type;

  &.active,
  &:hover {
    background: tomato;
    color: $color-black;
    opacity: 0.5;
  }
}
