.large-grid %square,
.large-grid .square {
  height: $square-sides-large;
  line-height: $square-sides-large;
  width: $square-sides-large;
}

.medium-grid %square,
.medium-grid .square {
  height: $square-sides-medium;
  line-height: $square-sides-medium;
  width: $square-sides-medium;
}

.small-grid %square,
.small-grid .square {
  height: $square-sides-small;
  line-height: $square-sides-small;
  width: $square-sides-small;
}

.tiny-grid %square,
.tiny-grid .square {
  height: $square-sides-tiny;
  line-height: $square-sides-tiny;
  width: $square-sides-tiny;
}

%square,
.square {
  @extend %text-teency;

  border: 1px solid $color-black;
  cursor: pointer;
  padding-left: $base-unit-quarter;
  text-align: center;
  user-select: none;

  // Default Size
  height: $square-sides;
  line-height: $square-sides;
  width: $square-sides;

  // border[0]
  &.border-top {
    border-top: 2px solid $color-black;
  }

  // border[1]
  &.border-right {
    border-right: 2px solid $color-black;
  }

  // border[2]
  &.border-bottom {
    border-bottom: 2px solid $color-black;
  }

  // border[3]
  &.border-left {
    border-left: 2px solid $color-black;
  }

}
