%square,
.square {
  @extend %text-tiny;

  border: 1px solid #000;
  cursor: pointer;
  height: 15px;
  line-height: 15px;
  padding-left: $base-unit-quarter;
  text-align: center;
  user-select: none;
  width: 15px;
}
