%square,
.square {
  @extend %text-teency;

  border: 1px solid $color-black;
  cursor: pointer;
  height: $square-sides;
  line-height: $square-sides;
  padding-left: $base-unit-quarter;
  text-align: center;
  user-select: none;
  width: $square-sides;

  // border[0]
  &.border-top {
    border-top: 2px solid $color-black;
  }

  // border[1]
  &.border-right {
    border-right: 2px solid $color-black;
  }

  // border[2]
  &.border-bottom {
    border-bottom: 2px solid $color-black;
  }

  // border[3]
  &.border-left {
    border-left: 2px solid $color-black;
  }

}
