<div class="panel">
  <h6 ng-click="toggleMe()">Draw Tool</h6>

  <div class="panel-section">

    <!-- Color Button -->
    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.drawMode === 'paint' ? 'active' : ''"
      ng-click="selectedVM.enableDrawMode('paint')"
    >
      Paint
    </span>

    <!-- Border Button -->
    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.drawMode === 'border' ? 'active' : ''"
      ng-click="selectedVM.enableDrawMode('border')"
    >
    Borders
  </div>

  <!-- Border Area -->
  <div
    ng-show="selectedVM.drawState.drawMode === 'border'"
    class="panel-subsection"
  >

    <!-- Border Draw Mode -->
    <div ng-hide="selectedVM.drawState.border.erase">
      <b>Draw Mode</b>
      <span
        ng-click="selectedVM.borderMode('erase')"
        class="text-tiny but"
      >Erase</span>
      <div class="panel-section">
        Side:
        <select
          ng-model="selectedVM.drawState.border.borderSide"

        >
          <option value="top">top</option>
          <option value="right">right</option>
          <option value="bottom">bottom</option>
          <option value="left">left</option>
        </select>
      </div>
    </div>

    <!-- Border Erase Mode -->
    <span ng-show="selectedVM.drawState.border.erase">
      <b>Erase Mode</b> <span class="text-tiny but" ng-click="selectedVM.borderMode('draw')">Draw</span>
    </span>
  </div>

  <!-- Color Area -->
  <div
    ng-show="selectedVM.drawState.drawMode === 'paint'"
    class="paint-info panel-subsection"
  >
    <span ng-show="selectedVM.drawState.paint.selected.name === undefined">
      Erase:
    </span>
    <span ng-show="selectedVM.drawState.paint.selected.name">
      Color:
    </span>
    <grid-square
      color="selectedVM.drawState.paint.selected"
    ></grid-square>
    {{selectedVM.drawState.paint.selected.name}}
    <span ng-show="selectedVM.drawState.paint.selected.rgb">
      #{{selectedVM.drawState.paint.selected.rgb}}
    </span>
  </div>

</div>
