<div class="panel">
  <h6 ng-click="toggleMe()">Draw Tool</h6>

  <div class="panel-section">

    here: {{selectedVM.drawMode}}

    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.paintMode ? 'active' : ''"
      ng-click="selectedVM.drawState.paintMode = true"
    >
      <span ng-hide="selectedVM.drawState.selected.name">Erase Color</span>
      <span ng-show="selectedVM.drawState.selected.name">Paint</span>
    </span>
    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.paintMode ? '' : 'active'"
      ng-click="selectedVM.drawState.paintMode = false;selectedVM.drawState.selected = {}"
    >
    <span
      ng-if="selectedVM.drawState.selected.name === undefined"
    >Erase</span> Borders</span>
  </div>

  <div ng-hide="selectedVM.drawState.paintMode">
    <div
      ng-show="selectedVM.drawState.selected.name"
    >
      <p>Border Side</p>
      <select ng-model="selectedVM.drawState.borderSide">
        <option value="top">top</option>
        <option value="right">right</option>
        <option value="bottom">bottom</option>
        <option value="left">left</option>
      </select>
    </div>
  </div>

  <div ng-show="selectedVM.drawState.paintMode">
    <p ng-hide="selectedVM.drawState.selected.name === undefined">
      Paint Color:
    </p>
    <span ng-show="selectedVM.drawState.selected.name">
      <grid-square
        ng-show="selectedVM.drawState.selected"
        color="selectedVM.drawState.selected"
      ></grid-square>
      <grid-square
        ng-hide="selectedVM.drawState.selected"
        color="selectedVM.drawState.selected"
      ></grid-square>
    </span>
    <br>
    <p>
      <span ng-show="selectedVM.drawState.selected.name">{{selectedVM.drawState.selected.name}} #{{selectedVM.drawState.selected.rgb}}</span>
    </p>
  </div>
</div>
