<div class="panel" show-hide opened="true">
  <h6>Pallete</h6>
  <a ng-if="!collapsed" ng-click="toggleMe()"><i class="fa fa-minus"></i></a>
  <a ng-if="collapsed" ng-click="toggleMe()"><i class="fa fa-plus"></i></a>
  <div ng-hide="collapsed" class="panel-section pallete">
    <grid-square
      ng-repeat="color in palleteVM.pallete.colors"
      ng-click="palleteVM.selectColor(color)"
      color="color"
    ></grid-square>
    <div class="panel-section">
      <span class="but text-tiny" ng-click="palleteVM.selectEraser()">Eraser</span>
    </div>
  </div>

</div>
