// Site Colors
$color-black: #222;
$color-white: #fff;
$color-sohi: #569e56;
$color-gold: #edc721;
$color-pool: #83c1bf;
$color-agua: #eef6f6;
$color-dkdkblue: #001325;
$color-ltgrey: #f0eeee;
$color-dkgrey: #363636;
$color-ltltgrey: #fbf9f9;
$color-medgrey: #a1a1a1;
$color-description: #666;
$color-cream: #F5F4E2;
$color-shadow: rgba(121,121,121,0.65);


//Used for generating paddings / margins
$base-unit: 1em;
$base-unit-half: $base-unit * 0.5;
$base-unit-quarter: $base-unit * 0.25;

//Grid spacings
$cell-padding: 0;
$cell-gutters: 0.625em;
$grid-padding: 1.25em;

// Grid col widths
$navcol-width: 210px;
$searchcol-width: 480px;

// Fonts
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
$base-content-font: $base-font-size * 0.875;

$base-rounded-corners: 7px;

// A Tag Transitions
$link-transition-speed: 0.15s;
$link-transition-type: ease-out;
$link-transition-property: all;

// Breakpoints
$breakpoint: 640px;

// Drawer settings
$drawer-col-width: 250px;
$drawer-width: 215px;
$drawer-control-width: 15px;
