<div class="panel" show-hide>
  <h6 ng-click="toggleMe()">Pattern Controls</h6>
  <a ng-if="!collapsed" ng-click="toggleMe()"><i class="fa fa-minus"></i></a>
  <a ng-if="collapsed" ng-click="toggleMe()"><i class="fa fa-plus"></i></a>

  <div ng-hide="collapsed">

    <save-pattern
      ng-if="pageStateVM.userState.authorized && !pageStateVM.userState.guest"
    ></save-pattern>

    <new-pattern></new-pattern>

    <load-pattern></load-pattern>

    <delete-pattern
      ng-if="pageStateVM.userState.authorized && !pageStateVM.userState.guest"
    ></delete-pattern>

  </div>

</div>
