.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.indented {
  margin-left: 32px;
}

.faded {
  opacity: 0.35;
}

.vertical-align-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// color classes
.color-black       {color: $color-black;}
.color-white       {color: $color-white;}
.color-sohi       {color: $color-sohi;}
.color-gold         {color: $color-gold;}
.color-pool        {color: $color-pool;}
.color-agua        {color: $color-agua;}
.color-dkdkblue    {color: $color-dkdkblue;}
.color-ltgrey      {color: $color-ltgrey;}
.color-dkgrey      {color: $color-dkgrey;}
.color-ltltgrey    {color: $color-ltltgrey;}
.color-medgrey     {color: $color-medgrey;}
.color-cream       {color: $color-cream;}
.color-description {color: $color-description}

.bg-black          {background-color: $color-black;}
.bg-white          {background-color: $color-white;}
.bg-sohi          {background-color: $color-sohi;}
.bg-gold           {background-color: $color-gold;}
.bg-pool           {background-color: $color-pool;}
.bg-agua           {background-color: $color-agua;}
.bg-dkdkblue       {background-color: $color-dkdkblue;}
.bg-ltgrey         {background-color: $color-ltgrey;}
.bg-dkgrey         {background-color: $color-dkgrey;}
.bg-ltltgrey       {background-color: $color-ltltgrey;}
.bg-medgrey        {background-color: $color-medgrey;}
.bg-description    {background-color: $color-description}

.loading {
  background: url(../images/loading.gif) 50% 50% no-repeat;
  padding: $base-unit*15 $base-unit;
}

.fa-trash {
  cursor: pointer;
}

.radio-group * {
  display: inline-block;
  vertical-align: middle;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
