<!doctype html>
<html ng-app="Crosstronica">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>

    <header>
      <h1>Welcome to Crosstronica</h1>
    </header>

    <pallete></pallete>
    <selected-color></selected-color>
    <pattern></pattern>

    <form novalidate ng-submit="addColor()" name="addcolor">
      <h4>Add New Color: </h4>
      <label for="newname">Color Name: </label>
      <input
        type="text"
        id="newname"
        name="newname"
        ng-model="newname"
        maxlength="30"
        required
      >
      <label for="newrgb">Color RGB: </label>
      <input
        type="text"
        id="newrgb"
        name="newrgb"
        ng-model="newrgb"
        required
        maxlength="6"
        ng-pattern="/[A-Fa-f0-9]{6}/"
      >
      <label for="newsymbol">Color Symbol: </label>
      <input
        type="text"
        id="newsymbol"
        name="newsymbol"
        ng-model="newsymbol"
        required
        maxlength="2"
      >
      <label for="newdmc">DMC#: </label>
      <input
        type="text"
        id="newdmc"
        name="newdmc"
        ng-model="newdmc"
        maxlength="10"
      >
      <button type="submit" ng-disabled="addcolor.$invalid">Save New Color</button>
    </form>

    <footer>
      <button ng-click="showGrid = !showGrid">toggle show grid data</button>
      <h3 ng-show="showGrid">Grid: {{grid}}</h3>
    </footer>

    <script src="assets/js/main.js"></script>

  </body>
</html>
