<div class="panel">

  <div ng-hide="selectedVM.pageState.paintMode">
    <div
      ng-show="selectedVM.pageState.selected.name"
    >
      <h6>Border Side</h6>
      <select ng-model="selectedVM.pageState.borderSide">
        <option value="top">top</option>
        <option value="right">right</option>
        <option value="bottom">bottom</option>
        <option value="left">left</option>
      </select>
    </div>

    <p
      ng-if="selectedVM.pageState.selected.name === undefined"
    >Erase Border</p>

  </div>

  <div ng-show="selectedVM.pageState.paintMode">
    <h6>Paint Color:</h6>
    <span ng-show="selectedVM.pageState.selected.name">
      <grid-square
        ng-show="selectedVM.pageState.selected"
        color="selectedVM.pageState.selected"
      ></grid-square>
      <grid-square
        ng-hide="selectedVM.pageState.selected"
        color="selectedVM.pageState.selected"
      ></grid-square>
    </span>
    <br>
    <p>
      <span ng-show="selectedVM.pageState.selected.name">{{selectedVM.pageState.selected.name}} #{{selectedVM.pageState.selected.rgb}}</span>
      <span ng-hide="selectedVM.pageState.selected.name">Eraser</span>
    </p>
  </div>


</div>
