<div class="panel">
  <h6 ng-click="toggleMe()">Draw Tool</h6>

  <div class="panel-section">

    <!-- Color Button -->
    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.drawMode === 'paint' ? 'active' : ''"
      ng-click="selectedVM.enableDrawMode('paint')"
    >
      Paint
    </span>

    <!-- Border Button -->
    <span
      class="text-tiny but"
      ng-class="selectedVM.drawState.drawMode === 'border' ? 'active' : ''"
      ng-click="selectedVM.enableDrawMode('border')"
    >
    Borders
  </div>

  <!-- Border Area -->
  <div ng-show="selectedVM.drawState.drawMode === 'border'">
    <span
      ng-show="selectedVM.drawState.paint.selected.name"
    >Side: </span>
    <select
      ng-model="selectedVM.drawState.border.borderSide"
      ng-show="selectedVM.drawState.paint.selected.name"
    >
      <option value="top">top</option>
      <option value="right">right</option>
      <option value="bottom">bottom</option>
      <option value="left">left</option>
    </select>
    <span ng-show="selectedVM.drawState.paint.selected.name === undefined">
      Erase Border
    </span>
  </div>

  <!-- Color Area -->
  <div
    ng-show="selectedVM.drawState.drawMode === 'paint'"
    class="paint-info"
  >
    <span ng-show="selectedVM.drawState.paint.selected.name === undefined">
      Erase:
    </span>
    <span ng-show="selectedVM.drawState.paint.selected.name">
      Color:
    </span>
    <grid-square
      color="selectedVM.drawState.paint.selected"
    ></grid-square>
    {{selectedVM.drawState.paint.selected.name}}
    <span ng-show="selectedVM.drawState.paint.selected.rgb">
      #{{selectedVM.drawState.paint.selected.rgb}}
    </span>
  </div>

</div>
