<div>

  <h5>{{patternVM.name}}</h5>
  <div class="pattern-grid">
    <div ng-repeat="row in patternVM.grid track by $index" class="grid pattern-row">
      <div ng-repeat="color in row track by $index" class="grid">
        <grid-square
          color="color"
          paint="paintCel($parent.$index, $index, true)"
        ></grid-square>
      </div>
    </div>
  </div>
  <button ng-click="pageState.showGrid = !pageState.showGrid">
    grid data
  </button>
  <textarea ng-show="pageState.showGrid">{{patternVM.grid}}</textarea>
</div>
