<div class="panel">
  <h6>Add New Color</h6>
  <form novalidate ng-submit="addColor()" name="addcolor">
    <label for="newname">Color Name: </label>
    <input
      type="text"
      id="newname"
      name="newname"
      ng-model="newname"
      maxlength="30"
      required
    >
    <label for="newrgb">Color RGB: </label>
    <input
      type="text"
      id="newrgb"
      name="newrgb"
      ng-model="newrgb"
      required
      maxlength="6"
      ng-pattern="/[A-Fa-f0-9]{6}/"
    >
    <label for="newsymbol">Color Symbol: #</label>
    <input
      type="text"
      id="newsymbol"
      name="newsymbol"
      ng-model="newsymbol"
      required
      maxlength="2"
    >
    <label for="newdmc">DMC#: </label>
    <input
      type="text"
      id="newdmc"
      name="newdmc"
      ng-model="newdmc"
      maxlength="10"
    >
    <button type="submit" ng-disabled="addcolor.$invalid">Save New Color</button>
  </form>
</div>
