// Layout styles go here
main {
  margin: $base-unit auto $base-unit $drawer-col-width;
  padding-right: $base-unit;
  position: relative;
  text-align: right;
}

main.grid-centered {
  text-align: center;
}

.main-area {
  text-align: right;
}

h1 {
  @extend %text-normal;
  margin-bottom: 0;
}

h1 + a {
  @extend %text-tiny;
  display: inline-block;
  margin-bottom: $base-unit;
}
