// Layout styles go here
main {
  margin: $base-unit auto;
  padding-right: $base-unit;
  text-align: right;
}

main.grid-centered {
  text-align: center;
}

.main-area {
  // inline-block forces grid squares to push full width
  display: inline-block;
  text-align: left;
}

h1 {
  text-align: left;
  margin-bottom: 0;
}

h1 + a {
  display: inline-block;
  margin-bottom: $base-unit;
}
