// Layout styles go here
main {
  margin: $base-unit auto $base-unit $drawer-col-width;
  padding-right: $base-unit;
  text-align: right;
}

.main-contents {
  margin: 0 auto;
}

h1 {
  text-align: right;
  margin-bottom: 0;
}

h1 + a {
  display: inline-block;
  margin-bottom: $base-unit;
}
