<div class="panel-subsection" show-hide>
  <h6 ng-click="toggleMe()">Add New Color</h6>
  <a ng-if="!collapsed" ng-click="toggleMe()"><i class="fa fa-minus"></i></a>
  <a ng-if="collapsed" ng-click="toggleMe()"><i class="fa fa-plus"></i></a>
  <div ng-hide="collapsed">
    <form novalidate ng-submit="addColorVM.addColor()" name="addcolor">
      <label for="newname">Color Name: </label>
      <input
        type="text"
        id="newname"
        name="newname"
        ng-model="addColorVM.newname"
        maxlength="30"
        required
      >
      <label for="newrgb">Color RGB#: </label>
      <input
        type="text"
        id="newrgb"
        name="newrgb"
        ng-model="addColorVM.newrgb"
        required
        maxlength="6"
        ng-pattern="/[A-Fa-f0-9]{6}/"
      >
      <label for="newsymbol">Color Symbol:</label>
      <input
        type="text"
        id="newsymbol"
        name="newsymbol"
        ng-model="addColorVM.newsymbol"
        required
        maxlength="2"
      >
      <button class="but" type="submit" ng-disabled="addcolor.$invalid">Save New Color</button>
    </form>
  </div>
</div>
